<div class="headline">
  <p>Video ready for download!</p>
</div>

<div class="download-container">
  <form method="post" id="download-form">
    <input type="hidden" name="filename" value={{outputPath}} />
    <input type="submit" value="Download" class="download-button" />
    <a id="download-link" href="#" download></a>
  </form>
</div>

<!-- Loading message -->
<div id="loading-message">
  <p>Loading, please wait...</p>
</div>
{{! Import script }}
<script src="/javascripts/download.js"></script>