<div class="image-container">
<img src="{{resizedImageDataUri}}" alt="Resized Image" />
</div>

<div class="download-container">
    <form method="post" id="download-form">
    <input type="hidden" name="filename" value="{{targetKey}}">
    <input type="submit" value="Download" class="download-button">
    </form>
</div>

<script src="/javascripts/download.js"></script>