<div class="download-container">
    <form method="post" id="download-form">
        <input type="hidden" name="filename" value={{outputPath}}>
        <input type="submit" value="Download" class="download-button">
        <a id="download-link" href="#" download></a>
    </form>
</div>

<script src="/javascripts/download.js"></script>