<div class="image-container">
<img src="{{resizedImageDataUri}}" alt="Resized Image" />
</div>

<div class="download-container">
    <input type="submit" value="Download" class="download-button">
</div>