<div class="headline">
    <h1>Video Converter</h1>
    <p>Convert your videos to MP4 with ease</p>
</div>

{{!-- Video upload --}}
<div class="choose-container">
    <form id="upload-form" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" id="myFile" name="file" accept=".avi, .mkv, .flv, .wmv, .webm, .mpeg, .3gp, .mov" class="choose-button">
        </div>
        <br>
        
        <div class="upload-container">
                <button type="submit" value="Process" class="process-button" id="process-button" disabled>Process</button>
        </div>

        
    </form>
</div>

<script src="/javascripts/upload.js"></script>

