<div class="headline">
    <h1>Image Resizer</h1>
    <p>Instantly resize your images for free with ease</p>
</div>

{{!-- Image upload --}}
<div class="choose-container">
    <form id="upload-form" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" id="myFile" name="file" accept=".jpg, .jpeg, .png" class="choose-button">
        </div>
            <p>Only JPG, JPEG and PNG.</p>
        <br>
        <h2>Custom resize</h2>
        <br>
        <div class="editor-container">
            <label for="width">
            <h3>Width:</h3>
            </label>
            <input type="number" id="width" name="width" placeholder="1000" min="1" max="1920"><br>
            <label for="height">
            <h3>Height:</h3>
            </label>
            <input type="number" id="height" name="height" placeholder="1000" min="1" max="1080"><br><br>
        </div>
        <div class="upload-container">
                <input type="submit" value="Process" class="upload-button">
        </div>
    </form>
</div>

<script src="/javascripts/upload.js"></script>

