<div class="headline">
    <p>Resize and convert images for free.</p>
</div>

{{!-- Display an error message if one exists --}}
{{#if errorMessage}}
<div class="error-message">
    {{errorMessage}}
</div>
{{/if}}

{{!-- Image upload --}}
<div class="choose-container">
<form action="/upload" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" id="myFile" name="filename" accept=".jpg, .jpeg, .png" class="choose-button">
    </div>
        <p>Only JPG, JPEG and PNG.</p>
    <div class="upload-container">
        <input type="submit" value="Upload" class="upload-button">
    </div>
    </form>
</div>

