<html>
  <head>
    <title>DotMedia</title>

    {{! CSS part }}
    <link rel="stylesheet" href="/stylesheets/style.css" />

    {{! Fav and Logo part }}
    <link rel="icon" type="image/png" href="/images/dotmediaLogo.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="/images/dotmediaLogo.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="/images/dotmediaLogo.png"
    />
    <link rel="apple-touch-icon-precomposed" href="/images/dotmediaLogo.png" />

    {{! Fonts }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  {{! Body part }}
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="/images/dotmediaLogo.png" />
          <p>DotMedia</p>
        </a>
      </div>
      <nav>
      </nav>
    </header>
    {{! header ends }}

    {{{body}}}
  </body>
</html>