<!DOCTYPE html>
<html>
  <head>
    <title>DotFoto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- Fonts --}}
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>DotFoto</h1>
      </div>
      <nav>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
