html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0;
}

p {
  margin: 0;
}

.logo {
  font-family: 'Gabarito', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  padding-left: 3rem;
  padding-top: 2rem;
}

.logo p {
  position: absolute;
  background: linear-gradient(90deg, #023e8a 0%, #0077b6 40%, #0096c7 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.headline {
  padding: 4rem 0 3rem 0;
}

h1 {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  color: #1d3557;
  padding-bottom: 0.3rem;
}

.headline p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
}

.choose-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  border: 0.7px solid #1d3557;
  padding: 1.1rem;
}

.choose-container p {
  padding-top: 0.7rem;
  text-align: center;
  font-style: italic;
}

.editor-container {
  display: grid;
  justify-content: center;
}

.editor-container input[type=number] {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  border: 0.7px solid #1d3557;
  padding: 0.5rem;
  width: 10rem;
  height: 2rem;
}

h2 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

h3 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.upload-container {
  text-align: center;
}

.upload-button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 40px;
  background-color: #31D2D5;
  color: white;
  padding: 13px 30px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #023047;
}

.image-container {
  padding: 4rem;
  text-align: center;
}

.download-container {
  text-align: center;
}

.download-button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 40px;
  background-color: #31D2D5;
  color: white;
  padding: 13px 30px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #023047;
}